name: Run rule tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-test:
    runs-on: ubuntu-latest
    container: gitlab/gitlab-runner-helper:ubuntu-x86_64-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: robinraju/release-downloader@v1.12
        with:
          repository: ${{ github.repository_owner }}/seqra
          token: ${{  secrets.SEQRA_GITHUB_TOKEN }}
          latest: true
          fileName: seqra_linux_amd64.tar.gz
          out-file-path: cli

      - run: |
          cd cli
          tar -xzf seqra_linux_amd64.tar.gz

      - uses: robinraju/release-downloader@v1.12
        with:
          repository: ${{ github.repository_owner }}/seqra-jvm-sast
          token: ${{  secrets.SEQRA_GITHUB_TOKEN }}
          latest: true
          fileName: seqra-project-analyzer.jar
          out-file-path: seqra-analyzer

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Build tests jar
        run: cd test && ./gradlew :build
        env:
          SEQRA_GITHUB_ACTOR: ${{ secrets.SEQRA_GITHUB_ACTOR }}
          SEQRA_GITHUB_TOKEN: ${{ secrets.SEQRA_GITHUB_TOKEN }}

      - name: Check rules coverage
        run: cd test && ./gradlew :checkRulesCoverage
        env:
          SEQRA_GITHUB_ACTOR: ${{ secrets.SEQRA_GITHUB_ACTOR }}
          SEQRA_GITHUB_TOKEN: ${{ secrets.SEQRA_GITHUB_TOKEN }}

      - name: Seqra compile test project
        run: |
          cli/seqra compile test --github-token ${{ secrets.SEQRA_GITHUB_TOKEN }} --output ./seqra-project --verbosity debug

      - name: Run Seqra analyzer
        run: |
          java -Xmx8G -Djdk.util.jar.enableMultiRelease=false -Dorg.seqra.ir.impl.storage.defaultBatchSize=2000 \
               -jar seqra-analyzer/seqra-project-analyzer.jar \
               --project seqra-project/project.yaml --output-dir seqra-result --verbosity debug \
               --semgrep-rule-set ./rules --debug-run-rule-tests

      - name: Show test results
        run: cat seqra-result/test-result.json

      - name: Upload test results
        if: (!cancelled())
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: seqra-result/
          retention-days: 1

      - name: Install jq
        run: apt-get update && apt-get install -y jq

      - name: Test result
        run: |
          SUCCESS_COUNT=$(jq '.success | length' seqra-result/test-result.json)
          SKIPPED_COUNT=$(jq '.skipped | length' seqra-result/test-result.json)
          FP_COUNT=$(jq '.falsePositive | length' seqra-result/test-result.json)
          FN_COUNT=$(jq '.falseNegative | length' seqra-result/test-result.json)

          echo "OK $SUCCESS_COUNT | Skip $SKIPPED_COUNT | FP $FP_COUNT | FN $FN_COUNT"

          FAILURE_COUNT=$(( $SKIPPED_COUNT + $FP_COUNT + $FN_COUNT ))

          if [ "$FAILURE_COUNT" -eq 0 ]; then
            echo "Success"
            exit 0
          else
            echo "Failed: $FAILURE_COUNT"
            exit 1
          fi
